.mat-elevation-z8{
   
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: 5%;
    text-align: auto;
    
    tr:nth-child(odd) {
        background-color: #ffffff;  
    } 
    tr:nth-child(even) {
        background-color: #f6f6ff;

      }

}

.body{
    background-image: linear-gradient(to right,
      rgba(255, 0, 0,0.2),
      rgba(255, 165, 0,0.2),
      rgba(255, 255, 0,0.2),
      rgba(0, 255, 0,0.2),
      rgba(0, 0, 255,0.2),
      rgba(74, 0, 128,0.2),
      rgba(128, 0, 128,0.2));
    height: 100%;
      display:block;
      margin: unset;
  }
.container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 5rem;
}